<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageid')} == 1">
    <f:then>
      <f:render partial="HeaderStartseite" arguments="{_all}"/>
    </f:then>
    <f:else>
      <f:render partial="Header" arguments="{_all}"/>
    </f:else>
  </f:if>


  <f:render section="content" />

  <f:render partial="Footer" arguments="{_all}"/>
</html>
