<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:if condition="{gallery.rows}">
    <f:then>
      <div id="c{data.uid}" class="card card-info card-inverse card-triangle">
    </f:then>
    <f:else>
      <div id="c{data.uid}" class="card card-info card-inverse">
    </f:else>
  </f:if>
  <f:for each="{gallery.rows}" as="row">
    <f:for each="{row.columns}" as="column">
      <f:if condition="{column.media}">
        <f:image class="card-img-top img-responsive" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" />
      </f:if>
    </f:for>
  </f:for>
  <div class="card-block">
    <h4 class="card-title">{data.header}</h4>
    <f:format.html><p class="card-text">{data.bodytext}</p></f:format.html>
    <f:if condition="{data.dti_nabu_yellowbox_link}">
      <f:link.external class="btn btn-primary" uri="{data.dti_nabu_yellowbox_link}"><f:if condition="{data.dti_nabu_linktext}"><f:then><i class="fa fa-arrow-right"></i> {data.dti_nabu_linktext}</f:then><f:else><i class="fa fa-arrow-right"></i> Weiterlesen</f:else></f:if></f:link.external>
    </f:if>
  </div>
</div>
