<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}" class="contact-box col-xs-12">
  <div class="image col-xs-12">
    <f:for each="{gallery.rows}" as="row">
      <f:for each="{row.columns}" as="column">
        <f:if condition="{column.media}">
            <f:image class="card-img-top img-responsive" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" />
        </f:if>
      </f:for>
    </f:for>
  </div>
  <div class="text col-xs-12">
    <span class="publication-head">{data.header}</span><br>

    <f:if condition="{data.dti_nabu_contactfunc}">
      <i class="fa fa-user"></i><f:format.raw value="{data.dti_nabu_contactfunc}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactstreet}">
      <i class="fa fa-book"></i><f:format.raw value="{data.dti_nabu_contactstreet}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactplzort}">
      <i class="fa fa-book"></i><f:format.raw value="{data.dti_nabu_contactplzort}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactmail}">
        <i class="fa fa-envelope"></i><f:link.email email="{data.dti_nabu_contactmail}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactphone}">
        <i class="fa fa-phone"></i><f:format.raw value="{data.dti_nabu_contactphone}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactmobile}">
        <i class="fa fa-mobile"></i><f:format.raw value="{data.dti_nabu_contactmobile}" /><br>
    </f:if>

    <f:if condition="{data.dti_nabu_contactfax}">
        <i class="fa fa-fax"></i><f:format.raw value="{data.dti_nabu_contactfax}" />
    </f:if>
  </div>
</div>
