<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="carousel-item">
  <f:for each="{gallery.rows}" as="row">
    <f:for each="{row.columns}" as="column">
      <f:if condition="{column.media}">
          <f:image src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" width="940c" height="300c" />
      </f:if>
    </f:for>
  </f:for>
  <div class="carousel-caption">
    <h2>{data.header}</h2>
    <p>
      <f:if condition="{data.dti_nabu_yellowbox_link}">
        <f:link.page class="btn btn-danger" pageUid="{data.dti_nabu_yellowbox_link}"><i class="fa fa-arrow-right"></i> {data.dti_nabu_linktext}</f:link.page>
      </f:if>
    </p>
  </div>
</div>