<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{data.uid}" class="box yellow-box {data.dti_nabu_class}">
  <div class="box-image">
    <f:for each="{gallery.rows}" as="row">
      <f:for each="{row.columns}" as="column">
        <f:if condition="{column.media}">
          <f:image src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" />
        </f:if>
      </f:for>
    </f:for>
  </div>
  <h3>{data.header}</h3>
  <f:format.html>{data.bodytext}</f:format.html>
</div>
