<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
    <f:layout name="DtInternet" />
    <f:section name="content">
      <div class="unterseite content">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              {content -> f:format.raw()}
            </div>
            <div class="col-md-3">
              <f:cObject typoscriptObjectPath="lib.SubpageNavigation" />
              <p>&nbsp;</p>
              {contentRight -> f:format.raw()}
            </div>
          </div>
        </div>
      </div>
    </f:section>
</html>
