p.teaser-text {
    font-size: 131.5%;
    line-height: 130%;
}

p {
    line-height: 1.4;
    color: #373a3c;
}

blockquote p{
    color: #86846b;
    font-size: 129%;
    line-height: 130%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    clear: both;
    background: url(../Images/zitat1.jpg) no-repeat scroll left 5px, url(../Images/zitat2.jpg) no-repeat scroll right bottom;
    background-origin: padding-box, content-box;
    padding-left: 22px;
    padding-right: 22px;
    text-align: justify;
}

h1 {
    color: #0068b4;
    font-weight: bold;
}

h2 {
    color: #86846b;
    font-weight: 600;
}

h3 {
    color: #0068b4 ;
    font-weight: 700;
}

h4 {
    color: #86846b;
    font-weight: 700;
}

a {
    color: #0068B4;
    text-decoration: none;
}