<div class="col-md-9">
  <a href="#mmenu" class="hidden-sm-up mobilenavleft"><i class="fa fa-bars"></i></a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#aktuelles" role="tab">Aktuelle<span class="hidden-sm-up">s</span><span class="hidden-sm-down"> Meldungen</span></a>
    </li>
  </ul>
  <div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="aktuelles" role="tabpanel">
          <div class="news">
              {contentNews -> f:format.raw()}
          </div>
          <div class="col-md-12">
            <p>&nbsp;</p>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <f:link.typolink class="btn btn-secondary" parameter="{site.configuration.newslist}">Weitere Meldungen im Überblick &rarr;</f:link.typolink>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
