<!--
	=====================
	Partials/ResultRows.html
-->

<div class="clearer"> </div>
<div id="kesearch_num_results"><h4>{numberofresults} {f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:num_results_plain')}:</h4></div>
<f:render partial="Sorting" arguments="{conf: conf, numberofresults: numberofresults, sortingLinks: sortingLinks}" />
<f:if condition="{conf.pagebrowserOnTop}">
	<div id="kesearch_pagebrowser_top"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<div id="kesearch_results">
	<f:for each="{resultrows}" as="resultrow">
		<f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
	</f:for>
</div>
<f:if condition="{conf.pagebrowserAtBottom}">
	<div id="kesearch_pagebrowser_bottom"><f:render partial="PageBrowser" arguments="{conf: conf, numberofresults:numberofresults, pagebrowser:pagebrowser}" /></div>
</f:if>
<f:if condition="{conf.showQueryTime}">
	<div id="kesearch_query_time">{queryTimeText}</div>
</f:if>
