<!--
  =====================
  Partials/ResultRow.html
-->

<div class="result-list-item result-list-item-type-{resultrow.type}">
  <h5>
    <f:if condition="{conf.resultsNumeration}">
      {resultrow.number}.
    </f:if>
    <f:format.raw>{resultrow.title}</f:format.raw>
  </h5>
  <f:if condition="{conf.showScoreScale}">
    <f:if condition="{resultrow.percent} > 0">
      <span class="scoreBar"><span class="score" style="width: {resultrow.percent}%;"></span></span>
    </f:if>
  </f:if>
    <!--<f:if condition="{conf.showResultUrl}">
      <i>{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:label_resulturl')}:</i> <f:format.raw>{resultrow.url}</f:format.raw><br />
    </f:if>-->
    <f:if condition="{resultrow.percent} > 0">
      <f:if condition="{conf.showScore}">
        <i>{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:label_score')}:</i> {resultrow.score}<br />
      </f:if>
      <f:if condition="{conf.showPercentalScore}">
        <i>{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:label_score_percent')}:</i> {resultrow.percent}<br />
      </f:if>
    </f:if>
    <f:if condition="{conf.showTags}">
      <i>{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:label_tags')}:</i> {resultrow.tags}<br />
    </f:if>
  <p class="teaser"><a href="{resultrow.url}"><f:format.raw>{resultrow.teaser}</f:format.raw></a></p>
</div>